<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="/assets/FontAwesome/web-fonts-with-css/css/fontawesome-all.min.css">
<div>

  <mat-toolbar color="primary">
    <span>
      <i class="fa"></i>
    </span>
    <span>First PHP Assingment</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
</div>

