<div class="form-div">
  <mat-card>
    <h1 class="center">
      <i class="full-width" ></i>
      Login
    </h1>
    <form #loginForm="ngForm">
      <mat-form-field class="full-width">
        <input [(ngModel)]="model.email" #email="ngModel" pattern="^\S+@\S+[.]\S+$" name="email" matInput type="email" required placeholder="Email"  >
        <mat-error *ngIf="email.invalid" >Email is not valid!</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input [(ngModel)]="model.passHash" #password="ngModel" name="password" matInput type="password" required placeholder="Password"  >
        <mat-error *ngIf="password.invalid" >Password is required!</mat-error>
      </mat-form-field>

      <div *ngIf="!isLoading">
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="Login()" class="full-width">Login</button>
        <a mat-button routerLink="/Register" class="full-width space">Register</a>
      </div>
    </form>
    <div  *ngIf="isLoading">
      <mat-spinner class="center"></mat-spinner>
    </div>


  </mat-card>
</div>
