/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";


body{
    padding: 0;
    margin: 0;
    background-color: #222222;

}

.form-div{
  width: 20em;
  margin: auto;
  padding: 1em;
}
.full-width{
  width: 100% !important;
}
.center{
  text-align: center;
  margin: 0 auto;
}
.small{
  width: 3em;
  height: 3em;
}
.space{
  margin: 1em;
}
