<div class="form-div">
  <mat-card>
    <div *ngIf="SessionStatus == 0">
      <h1 class="center">
        Checking Status
        <div class="center">
          <i class="far fa-hourglass-end"></i>
        </div>
      </h1>
      
    </div>
    <div *ngIf="SessionStatus == 1">
        <h1 class="center">
          Not Authanticated!
          <div class="center"><i class="fal fa-times-circle"></i><br></div>
        </h1>
        <div class="center">
          
          <a mat-button routerLink="/Login">Login</a><span> or </span>
          <a mat-button routerLink="/Register">SignUp</a>
        </div>
    </div>
    <div *ngIf="SessionStatus == 2">
      <h1 class="center">
        Authanticated!
        <div class="center"><i class="fal fa-check-circle"></i><br></div>
      </h1>
      <div class="center">
        <a mat-button (click)="logOff()">Logoff</a>
      </div>
  </div>
  </mat-card>
</div>