<div class="form-div" >
  <mat-card >
    <h1 class="center">
      <i class="full-width" ></i>
      Register
    </h1>
    <form #registerForm="ngForm" (ngSubmit)="Register()">
      <mat-form-field class="full-width">
        <input  [(ngModel)]="model.email" name="email" #email="ngModel" pattern="^\S+@\S+[.]\S+$" matInput type="email"  required placeholder="Email"  >
        <mat-error *ngIf="email.invalid" >Invalid Email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">

        <input id="pass" name="password" [(ngModel)]="model.passhash" #password="ngModel" matInput type="password" required placeholder="Password"  >
        
        <mat-error *ngIf="password.invalid" >Password is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input name="ssid" [(ngModel)]="model.ssid" pattern="^[0-9]{10}$"  #ssid="ngModel" matInput type="number" required placeholder="SSID"  >
        <mat-error *ngIf="ssid.invalid"  >SSID is Required and it should be 10 digits</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" matInput type="text" required placeholder="First Name"  >
        <mat-error *ngIf="firstname.invalid" >Firstname is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" matInput type="text" required placeholder="Last Name"  >
        <mat-error *ngIf="lastname.invalid" >Lastname is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="phonenumber" [(ngModel)]="model.phonenumber" #phonenumber="ngModel" matInput type="tel" required placeholder="Phone Number"  >
        <mat-error *ngIf="lastname.invalid" >Phone Number is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="dateofbirth" [(ngModel)]="model.dateofbirth" #dateOfBirth="ngModel" required matInput [matDatepicker]="picker" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateOfBirth.invalid" >Date of Birth is required</mat-error>
      </mat-form-field>

      <div *ngIf="!isLoading">
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid" type="submit" class="full-width">Register</button>
        <a  mat-button routerLink="/Login" class="full-width space" >Already have an account?</a>
      </div>
      <div  *ngIf="isLoading">
        <mat-spinner class="center"></mat-spinner>
      </div>
    </form>
  </mat-card>
</div>
